@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  color: black;
  background-color: white;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(35, 66, 222);
  background: radial-gradient(
    ellipse,
    rgb(35, 66, 222) 0%,
    rgba(0, 0, 0, 1) 45%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
